.example-card {
    text-align: center;
    justify-content: center;
    max-width: 800px;
    margin-bottom: 8px;
    padding: 15px;
}

mat-card-actions {
    text-align: center;
    justify-content: center;
}

mat-divider {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acierto {
    color: darkgreen;
}

.fallo {
    color: red;
}

.puntuacion {
    font-weight: bold;
}